@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

:root{
    --primary-color: #5451A6;
    --secondary-color: #ddd6fe;
    --off-white: #f1f5f9;

}
body{
    font-family:'Poppins', sans-serif;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;
}

.navigation-list{
    list-style: none;
    display: inline;
}