@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

:root{
    --primary-color: ##5451A6;
    --secondary-color: ##d1d5db;

}
*{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
}
.navbar{
    background-color: var(--primary-color);
}
.title{
 color: white;
}
.navigation-list{
    text-decoration: none;
    display: inline;
}